<div >
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo left"><img  width="70" src="https://static.openfoodfacts.org/images/misc/openfoodfacts-logo-en-356.png"></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      </ul>
    </div>
  </nav>
</div>
<div class="row" >
    <form class="col s12" >
      <div class="row">
        <div class="input-field col s6" *ngIf="annonce">
          <input [(ngModel)] = "annonce.id" type="text" placeholder="Code Barre" name="cb" >
          <button class="btn waves-effect waves-light" type="submit" 
          name="action" id="{{annonce.id}}" (click)="recupAnnonce($event)">Submit
            </button>
          </div>
      </div>
    </form>
  </div>
  <ng-template #other >  Le status est dans le else</ng-template>
  <div *ngIf="annonce" class="result" style="padding:10px; width: 400px; height: 300px">
    <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-content" style="width: 300px;">
                <p>{{ annonce.titre }}</p>
              </div>
            <div class="card-action">
                <p>description : {{annonce.description}}</p>
                <p>Magasins : {{annonce.prix}}</p>
                <p>Email : {{annonce.email}}</p>
            </div>
          </div>
      </div>
  </div>
  <div class="md-form">
    <input type="text" id="form1" class="form-control">
    <label for="form1" >Example label</label>
</div>
  <button type="button" class="btn btn-primary waves-light" mdbRippleRadius>Chercher</button>
  <!--Card-->
<div class="card card-cascade wider reverse my-4">

  <!--Card image-->
  <div class="view overlay">
      <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid">
      <a href="#!">
          <div class="mask rgba-white-slight"></div>
      </a>
  </div>
  <!--/Card image-->

  <!--Card content-->
  <div class="card-body text-center">
      <!--Title-->
      <h4 class="card-title"><strong>My adventure</strong></h4>
      <h5 class="indigo-text"><strong>Photography</strong></h5>

      <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
      </p>

      <!--Linkedin-->
      <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
      <!--Twitter-->
      <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
      <!--Dribbble-->
      <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>

  </div>
  <!--/.Card content-->

</div>
<!--/.Card-->